.container {
    margin-bottom: 80px;
}

.orange-bg {
    width: 89.0%;
    margin-left: 5.5%;
    background-color: rgb(254, 234, 233);
    border-radius: 10px;
}

.order {

    background-color: cadetblue;
    border-radius: 5px;
    color: beige;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}

.price {
    color: rgb(219, 15, 15);
}

.carousel-item {
    margin: 10px;
    padding: 30px, 50px;
}

.cat1,
.cat2,
.cat3 {
    padding: 10px 30px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.cat1 {
    background-color: rgb(216, 122, 112);
}

.cat2 {
    background-color: rgb(125, 113, 205);
}

.cat3 {
    background-color: rgb(111, 171, 173);
}

.categories img {
    width: 100px;
}

.categories {
    margin-top: 50px;
}

.shoes {
    width: 89.5%;
    margin-left: 5%;
}

.shoes1 {
    margin-left: 60px;
}

.card {
    box-shadow: 5px 5px 10px lightgray;
}